<table
  style="
    border-collapse: collapse;
    border-width: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  "
>
  <tr>
    <td style="padding: 50px 0">
      <table
        style="
          background-color: white;
          border-collapse: collapse;
          border-width: 0;
          width: 650px;
          max-width: 650px;
          background-repeat: no-repeat;
          padding: 0;
          margin: 0 auto;
        "
      >
        <tr>
          <td style="padding: 0">
            <table
              style="
                background-color: #4caf50;
                border-collapse: collapse;
                border-width: 0;
                width: 100%;
                padding: 15px;
                margin: 0 auto;
              "
            ></table>
          </td>
        </tr>

        <tr>
          <td style="padding: 0">
            <table
              style="
                background-color: #efefef;
                background-repeat: no-repeat;
                background-size: cover;
                border-collapse: collapse;
                border-width: 0;
                width: 100%;
                padding: 0;
                margin: 0 auto;
              "
            >
              <tr>
                <td style="padding: 50px 63px">
                  {% block body %} {{body | safe}} {% endblock %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0px">
            <table
              style="
                border-collapse: collapse;
                border-width: 0;
                padding: 15px;
                margin: 0 auto;
                background-color: #4caf50;
                width: 100%;
              "
            ></table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
